:root{
  --main-green: #47d583;
  --white: #fff;
  --Ligt-Grey: #f7f7f7;

  --margin-buttom: 8rem;
  --margin-grid: 6rem;
  --margin-grid-s: 2rem;
}
.clearfix::after,
.clearfix::before{
  content: "";
  display: table;
  clear: both;
}

/* ---------------------------- */
      /* Global*/
/* ---------------------------- */
[id^=section-]{
  /* background-color: orange; */
  margin-top: 5rem;
  padding: 4rem 0;
}
h2{
  text-align: center;
  font-weight: 300;
  font-size: 4rem;
  letter-spacing: .3rem;
  word-spacing: .2rem;
  margin-bottom: 7rem;
  padding: 1rem 0;
}
h2::after{
  content: "";
  display: block;
  background-color: var(--main-green);
  height: .2rem;
  width: 10rem;
  margin: 0 auto;
}
h3{
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}
.btn-noshake{
  display: inline-block;
  transition: translateY .2s;
}


/* ---------------------------- */
      /* Start-up */
/* ---------------------------- */
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html{
  font-size: 62.5%;
}
body{
  font-family: 'Lato', sans-serif;
  padding: 2.5rem;
  line-height: 1.7;
  font-weight: 400;
  color: #777;
  box-sizing: border-box;
}
/* ---------------------------- */
      /* Header-Section */
/* ---------------------------- */
header{
  background-image: linear-gradient( to right bottom,
  rgba(89, 90, 95, .7),
  rgba(89, 90, 95, .7)),
  url(../img/header-bg-2.jpg);
  height: 95vh;
  background-size: cover;
  background-position: top;
  /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 81%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%); */
  position: relative;
}
.header-text{
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.header-text h1{
  margin: 0;
}
.header-text--top{
  display: block;
  font-weight: 300;
  font-size: 4rem;
  letter-spacing: .7rem;
}
.header-text--sub{
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: .2rem;
  margin-bottom: 2rem;
  display: inline-block;
}
.header-btn{
  text-decoration: none;
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 400;
  border: 1px solid var(--white);
  padding: 1.5rem;
  letter-spacing: .1rem;
  border-radius: 5rem;
  display: inline-block;
}
.btn-noshake:hover .header-btn{
  transform: translateY(-.5rem);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .15);
  background-color: var(--main-green);
}

/* ---------------------------- */
      /* Logo and Nav */
/* ---------------------------- */
nav{
  width: 90%;
  margin: 0 auto;
}
.logo-img{
  height: 9rem;
  margin-top: 2rem;
  float: left;
}
nav ul{
  float: right;
  /* margin-top: 3rem; */
}
nav ul li{
  display: inline-block;
  margin: 2rem 4rem 0 0;
}
nav a:link,
nav a:visited{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: var(--white);
  padding: .5rem .2rem;
  letter-spacing: .1rem;
  transition: .2s;
}
nav a:hover{
  border-bottom: 2px solid var(--main-green);
}
.login{
  background-color: var(--main-green);
  padding: .5rem;
  border-radius: .5rem;
}
.login a:hover{
  border-bottom: transparent;
}

/* ---------------------------- */
      /* Section About */
/* ---------------------------- */
#section-about{
  background-color: var(--Ligt-Grey);
  margin-bottom: 10rem;
}
.section-about--mv p{
  font-size: 1.6rem;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 2rem;
}
.section-about--btn{
  font-size: 1.6rem;
  margin-top: 2rem;
  display: inline-block;
}
.section-about--btn a:link,
.section-about--btn a:visited{
  text-decoration: none;
  color: var(--main-green);
  border-bottom: 1px solid var(--main-green);
  padding: 1rem .5rem;
  letter-spacing: .1rem;
  display: inline-block;
  transition: all .3s;
}
.section-about--btn:hover a{
    background-color: var(--main-green);
    color: var(--white);
    border-radius: .5rem;
    transform: translateY(-.5rem);
    box-shadow: 0 .5rem 2rem rgba(0, 0, 0, .15);
}
.section-about--images{
  position: relative;
  margin-top: 1rem;
}
.a-img{
    width: 55%;
    position: absolute;
    box-shadow: 0 .5rem 4rem rgba(0, 0, 0, .4 );
    z-index: 10;
    transition: all .3s;
}
.about-image1{
    top: -2rem;
    left: 0;
}
.about-image2{
  top: 2rem;;
  right: 0;
}
.about-image3{
  top: 11rem;
  left: 12%;
}
.a-img:hover{
  z-index: 20;
  transform: scale(1.2) translateY(-.5rem);
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, .5 );
}
.section-about--images:hover .a-img:not(:hover){
  transform: scale(.90);
}

/* ---------------------------- */
      /* Section Features */
/* ---------------------------- */

#section-features{
  max-width: 114rem;
  margin: 0 auto;
  display: grid;
  /* grid-template-columns: repeat(3,1fr); */
  grid-template-columns: repeat(auto-fill,minmax(37.3rem,1fr));
  grid-gap: 1rem;
  margin-top: -5rem;
}
.features-Best_Offers{
  background-color: var(--Ligt-Grey);
  border-radius: 1rem;
  height: 30rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
}
.Best-Offers--Box{
  height: 25rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  transition: all .9s ease;
  border-radius: 1rem;
}
.Best-Offers--Front{

}
.Offers-Front--img img{
  border-radius: 1rem;
  width: 100%;
  height: 25rem;
}
.Offers-Front--location{
  text-align: center;
  margin-top: -1rem;
}
.Offers-Front--location p{
  font-size: 1.6rem;
  font-size: 300;
}
.Offers-Front--location i{
  margin-right: -1rem;
}
.Location{
  font-size: 1.8rem;
  font-weight: 400;
  color: black;
}
/* .section-features--btn{
  text-align: center;
} */
.Best-Offers--Back{
  background-color: var(--Ligt-Grey);
  text-align: left;
  transform: rotateY(180deg);
}
.features-Best_Offers:hover .Best-Offers--Front{
  transform: rotateY(-180deg);
}
.features-Best_Offers:hover .Best-Offers--Back{
  transform: rotateY(0);
}
.Best-Offers--Back li{
  list-style-type: none;
  margin-top: 2rem;
  text-align: center;
}
.Back-info span{
    font-size: 1.8rem;
    color: black;
    font-weight: 300;
    text-align: center;
}
.fas{
  color: var(--main-green);
  font-size: 2rem;
  padding-right: 2rem;
}
.section-about--btn{
  font-size: 1.6rem;
  margin-top: 2rem;
  display: inline-block;
}
.section-features--btn a:link,
.section-features--btn a:visited{
  text-decoration: none;
  color: var(--white);
  background-color: var(--main-green);
  padding: 1rem;
  border-radius: .5rem;
  letter-spacing: .1rem;
  display: inline-block;
  transition: all .3s;
}
.section-features--btn:hover a{
    transform: translateY(-.5rem);
    box-shadow: 0 .5rem 2rem rgba(0, 0, 0, .15);
}

















































/* My Grid */
.row{
  max-width: 114rem;
  /* background-color: #eee; */
  margin: 0 auto;
}
.row::after{
  content: "";
  display: table;
  clear: both;
}
.row:not(:last-child){
  margin-bottom: var(--margin-buttom);
}
[class^="col-"]{
  float: left;
  /* background-color: red; */
}
[class^="col-"]:not(:last-child){
  margin-right: var(--margin-grid);
}
.col-1-of-2{
  width: calc((100% - var(--margin-grid)) /2);
}
.col-1-of-3{
  width: calc((100% - 2 * var(--margin-grid))/3);
}
.col-2-of-3{
  width: calc(2*((100% - 2 * var(--margin-grid))/3) + var(--margin-grid));
}
.col-1-of-4{
  width: calc((100% - 3 * var(--margin-grid))/4);
}
.col-2-of-4{
  width: calc(2 *((100% - 3 * var(--margin-grid))/4) + var(--margin-grid));
}
.col-3-of-4{
  width: calc(3 *((100% - 3 * var(--margin-grid))/4) + 2*var(--margin-grid));
}


/* My Grid */
.row2{
  max-width: 114rem;
  margin: 0 auto;
}
.row2::after{
  content: "";
  display: table;
  clear: both;
}
.row2:not(:last-child){
  margin-bottom: var(--margin-buttom);
}
[class^="coli-"]{
  float: left;
  /* background-color: red; */
}
[class^="coli-"]:not(:last-child){
  margin-right: var(--margin-grid-s);
}
.coli-1-of-3{
  width: calc((100% - 2 * var(--margin-grid-s))/3);
}
