:root{
  --main-green: #47d583;
  --white: #fff;
  --Ligt-Grey: #f7f7f7;
}

/* ---------------------------- */
      /* Global*/
/* ---------------------------- */
[id^=s-]{
  padding: 4rem 0;
  margin-top: 5rem;
}
h2{
  text-align: center;
  font-weight: 300;
  font-size: 4rem;
  letter-spacing: .3rem;
  word-spacing: .2rem;
  margin-bottom: 5rem;
  padding: 1rem 0;
  text-transform: uppercase;
}
h2::after{
  content: "";
  display: block;
  background-color: var(--main-green);
  height: .2rem;
  width: 10rem;
  margin: 0 auto;
}
h3{
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}
.btn-noshake{
  display: inline-block;
  transition: translateY .2s;
}
.link--btn{
  font-size: 1.6rem;
  display: inline-block;
}
.link--btn a:link,
.link--btn a:visited{
  text-decoration: none;
  color: var(--main-green);
  border-bottom: 1px solid var(--main-green);
  padding: 1rem .5rem;
  letter-spacing: .1rem;
  display: inline-block;
  transition: all .3s;
}
.link--btn:hover a{
    background-color: var(--main-green);
    color: var(--white);
    border-radius: .5rem;
    transform: translateY(-.5rem);
    box-shadow: 0 .5rem 2rem rgba(0, 0, 0, .15);
}

/* ---------------------------- */
      /* Start-up */
/* ---------------------------- */
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html{
  font-size: 62.5%;
}
body{
  /* padding: 2.5rem; */
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  line-height: 1.7;
  font-weight: 400;
  color: #777;
  box-sizing: border-box;
}
/* ---------------------------- */
      /* Header-Section */
/* ---------------------------- */
header{
  background-image: linear-gradient( to right bottom,
  rgba(0, 0, 0, 0.7),
  rgba(0, 0, 0, 0.7)),
  url(../img/header-bg-2.jpg);
  height: 100vh;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  position: relative;
}
.header-text{
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.header-text h1{
  margin: 0;
}
.header-text--top{
  display: block;
  font-weight: 300;
  font-size: 4rem;
  letter-spacing: .7rem;
}
.header-text--sub{
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: .2rem;
  margin-bottom: 2rem;
  display: inline-block;
}
.header-btn{
  text-decoration: none;
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 400;
  border: 1px solid var(--main-green);
  padding: 1.5rem;
  letter-spacing: .1rem;
  border-radius: 5rem;
  display: inline-block;
}
.btn-noshake:hover .header-btn{
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .15);
  background-color: var(--main-green);
  transition: all ease-out .2s;
}

/* ---------------------------- */
      /* Logo and Nav */
/* ---------------------------- */
nav{
  width: 90%;
  margin: 0 auto;
}
.logo-img{
  height: 9rem;
  margin-top: 2rem;
  float: left;
}
nav ul{
  float: right;
  /* margin-top: 3rem; */
}
nav ul li{
  display: inline-block;
  margin: 2rem 4rem 0 0;
}
li.animation-bot{
  position: relative;
}
li.animation-bot:hover{
  border: none;
}
li.animation-bot::after{
  content: '';
  position: absolute;
  width: 0rem;
  height: .2rem;
  left: 50%;
  bottom: -20%;
  background-color: var(--main-green);
  transition: all ease-in-out .2s;
}
.animation-bot:hover::after{
  width: 100%;
  left: 0;
}
ul li a:link,
ul li a:visited{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: var(--white);
  padding: .5rem .2rem;
  letter-spacing: .1rem;
}
.animation-bot a:hover{
  color: var(--main-green);
}
.login{
  background-color: var(--main-green);
  padding: .5rem;
  border-radius: .5rem;
}
.login a:hover{
  border-bottom: transparent;
}

/* ---------------------------- */
      /* Sticky Logo and Nav */
/* ---------------------------- */
.sticky{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, .7);
}
.sticky ul li a:link ,
.sticky ul li a:visited{
  padding: .5rem .2rem;
}
.sticky ul li{
  margin: 1rem 4rem 0 0;
}
.sticky .logo-img{
  height: 6rem;
  margin: 1rem 0 1rem 10rem;
}
.sticky ul{
  margin-right: 10rem;
}

/* ---------------------------- */
      /* Section About */
/* ---------------------------- */
.section-about{
  max-width: 114rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 7rem;
}
#s-section-about{
  background-color: var(--Ligt-Grey);
}
.section-about--mv p{
  font-size: 1.6rem;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 2rem;
}
.section-about--images{
  position: relative;
  margin-top: 1rem;
}
.a-img{
    width: 55%;
    position: absolute;
    box-shadow: 0 .5rem 4rem rgba(0, 0, 0, .4 );
    z-index: 10;
    transition: all .3s;
}
.about-image1{
    top: -2rem;
    left: 0;
}
.about-image2{
  top: 2rem;;
  right: 0;
}
.about-image3{
  top: 11rem;
  left: 12%;
}
.a-img:hover{
  z-index: 20;
  transform: scale(1.2) translateY(-.5rem);
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, .5 );
}
.section-about--images:hover .a-img:not(:hover){
  transform: scale(.90);
}


/* ---------------------------- */
      /* Section Features */
/* ---------------------------- */

.section-features{
  max-width: 114rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(37.3rem,1fr));
  grid-gap: 1rem;
}
.features-Best_Offers{
  border-radius: 1rem;
  height: 30rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
}
.Best-Offers--Box{
  height: 25rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  transition: all .9s ease;
  border-radius: 1rem;
}
.Offers-Front--img img{
  border-radius: 1rem;
  width: 100%;
  height: 25rem;
}
.Best_Offers--Price{
  position: absolute;
  top: 5%;
  left: 2%;
  font-size: 2rem;
  font-weight: 400;
  background-color: rgba(71, 213, 131, .8);
  letter-spacing: .1rem;
  padding: .5rem 1rem;
  color: var(--Ligt-Grey);
  border-radius: .7rem;
}
.Offers-Front--location{
  text-align: center;
  margin-top: -1rem;
}
.Offers-Front--location p{
  font-size: 1.6rem;
  font-size: 300;
}
.Offers-Front--location i{
  margin-right: -1rem;
}
.Location{
  font-size: 1.8rem;
  font-weight: 400;
  color: black;
}
.section-features--btn{
  text-align: center;
  font-size: 1.3rem;
}
.Best-Offers--Back{
  background-color: var(--Ligt-Grey);
  height: 30rem;
  text-align: left;
  transform: rotateY(180deg);
}
.features-Best_Offers:hover .Best-Offers--Front{
  transform: rotateY(-180deg);
}
.features-Best_Offers:hover .Best-Offers--Back{
  transform: rotateY(0);
}
.Best-Offers--Back li{
  list-style-type: none;
  margin-top: 2rem;
  text-align: center;
}
.Back-info span{
    font-size: 1.8rem;
    color: black;
    font-weight: 300;
    text-align: center;
}
.fas{
  color: var(--main-green);
  font-size: 2rem;
  padding-right: 2rem;
}
.section-about--btn{
  font-size: 1.6rem;
  margin-top: 2rem;
  display: inline-block;
}
.section-features--btn a:link,
.section-features--btn a:visited{
  text-decoration: none;
  color: var(--white);
  background-color: var(--main-green);
  padding: 1rem;
  border-radius: .5rem;
  letter-spacing: .1rem;
  display: inline-block;
  transition: all .3s;
}
.section-features--btn:hover a{
    transform: translateY(-.5rem);
    box-shadow: 0 .5rem 2rem rgba(0, 0, 0, .15);
}

/* ---------------------------- */
      /* Section App */
/* ---------------------------- */
.section-app{
  max-width: 114rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 3rem;
}
#s-section-app{
  background-color: var(--Ligt-Grey);
}
.app-image{
  text-align: center;
}
.app-image-animaton .phone-img{
  animation: moveUp 2s;
  transition: .9s;
}
.app-steps{
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: .1rem;
}
.app-steps p{
  margin-top: 7rem;
}
.app-steps span{
  border: 2px solid var(--main-green);
  border-radius: 100%;
  padding: 1.5rem 2rem;
  font-size: 2rem;
  color: var(--main-green);
}
/* ---------------------------- */
      /* Section App */
/* ---------------------------- */
.section-testimonial{
  max-width: 150rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(40rem,1fr));
  grid-gap: 1rem;
}
#s-section-testimonial{
  background-image:
  linear-gradient(to right bottom,
  rgba(89, 90, 95, .7),
  rgba(89, 90, 95, .7)),
  url(../img/app-bg.jpg);
  background-attachment: fixed;
  color: var(--white);
}
blockquote {
    padding: 2.5rem;
    font-style: italic;
    position: relative;
    font-size: 1.6rem;
    font-weight: 400i;
}

blockquote:before {
    content: "\201C";
    font-size: 8rem;
    display: block;
    position: absolute;
    top: -15%;
    left: 0;
}
cite {
  display: block;
  margin-top: 1.5rem;
}
cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}
/* ---------------------------- */
      /* Section Message */
/* ---------------------------- */
#s-section-form{
  background-color: var(--Ligt-Grey);
}
.section-form{
  max-width: 114rem;
  margin: 0 auto;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(2,1fr);
  padding: 2.5rem;
}
.form{
  padding: 1rem;
}
.form-name{
    width: 45.8%;
    display: inline;
}
fieldset{
  border:none;
  border: 2px solid var(--main-green);
  margin-bottom: 2rem;
  border-radius: .5rem;
}
legend{
  font-size: 1.6rem;
  padding: 0 .5rem;
}
.input[type=text],
.input[type=email]{
  padding: .5rem;
  width: 80%;
  color: #777;
  border: none;
  background: transparent;
  outline: none;
  font-size: 1.6rem;
}
textarea{
  color: #777;
  border: none;
  background: transparent;
  outline: none;
  font-size: 1.6rem;
}
.input[type=submit]{
  font-size: 1.6rem;
  padding: .8rem;
  text-transform: uppercase;
  color: var(--white);
  letter-spacing: .2rem;
  border: 1px solid var(--main-green);
  background-color: var(--main-green);
  cursor: pointer;
  border-radius: .5rem;
}
.btn-noshake:hover input[type=submit]{
  transform: translateY(-.5rem);
  box-shadow: 0 .5rem 2rem rgba(0, 0, 0, .15);
}
.form-image-sec{
  position: relative;
}
.form-image{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.fab{
  font-size: 3.5rem;
  padding: 0 1rem;
  margin-top: 3rem;
}
.fa-facebook{
  margin-left: 6rem;
}
.fa-facebook{
  color: #3b5998;
}
.fa-instagram{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
    background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-twitter-square{
  color: #55aded;
}
.fa-google-plus-square{
  color: #dd4b3e;
}

/* ---------------------------- */
      /* Section Footer */
/* ---------------------------- */

footer{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  background-color: #464646;
  margin-top: 5rem;
  border-radius: .5rem .5rem 0 0;
}
footer p{
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
}
footer a:visited,
footer a:link{
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--main-green);
}
.footer-cntct span{
  color: #777;
  font-size: 1.6rem;
  font-weight: 400;
}
.footer-cntct .fas{
  font-size: 2.1rem;
}
.footer-location span{
  color: #777;
  font-size: 1.6rem;
  font-weight: 400;
}
.footer-location .fas{
  font-size: 2.1rem;
}

/* ---------------------------- */
      /* Section Login */
/* ---------------------------- */

.login-pop,
.registration-pop{
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0,.8);
  opacity: 0;
  visibility: hidden;
  transition: all .5s;
}
.login-pop:target,
.registration-pop:target{
  opacity: 1;
  visibility: visible;
}
.login-pop:target .login-box,
.registration-pop:target .login-box{
  opacity: 1;
  transform: translate(-50%,-50%) scale(1);
}
.login-box{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20%;
  transform: translate(-50%,-50%) scale(.5);
  padding: 5rem 20rem;;
  border: 1px solid var(--main-green);
  background-color: rgba(0, 0, 0,.8);
  border-radius: .5rem;
  transition: all .4s .2s;
}
.input-box{
  position: relative;
  padding: 1rem 2rem;
  width: 100%;
  margin-bottom: 3rem;
}
.input-box input{
  padding: 1rem 0;
  color: var(--Ligt-Grey);
  font-size: 1.6rem;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--main-green);
  width: 90%;

}
.input-box label{
  color: var(--white);
  text-transform: uppercase;
  position: absolute;
  font-size: 1.6rem;
  font-weight: 400;
  top: 30%;
  left: 5%;
  transition: all .3s;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label{
  top: -1rem;
  left: 5%;
  color: var(--main-green);
  font-size: 1.5rem;
}
.login-btn,
.register-btn{
  text-align: center;
}
/* input[type="submit"]{
  width: 100%;
} */
.login-close:visited,
.login-close:link{
  color: var(--white);
  text-decoration: none;
  font-size: 3rem;
  font-weight: 700;
  position: absolute;
  top: 0;
  right: 5%;
}
.login-close:hover{
  color: var(--main-green);
}
.login-close:target{
  opacity: 0;
  visibility: hidden;
}
.form-text{
  font-size: 1.6rem;
  text-align: center;
  font-weight: 400;
}
.form-text a:visited,
.form-text a:link{
  color: var(--main-green);
  text-decoration: none;
}









































































/* ---------------------------- */
      /* Animation */
/* ---------------------------- */

@keyframes moveUp {

    0%{
      opacity: 0;
      transform: translateY(10rem);
    }
    100%{
      opacity: 1;
      transform: translateY(0);
    }
}
    @keyframes moveRight {
    0%{
    opacity: 0;
    transform: translateX(-10rem);
    }
    80%{
    transform: translateX(1rem);
    }
    100%{
    opacity: 1;
    transform:translateX(0);
    }
    }
